#root{
    display: flex;
    justify-content: center;
}

.App{
    box-shadow: -30px 20px 100px 10px #FB184E78;
    width: 40%;
    height: 40%;
    
    border-radius: 30px;
    padding: 30px;
    margin: 30px;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.Keypad{
    display: flex;
    gap: 5px;
    justify-content: center;
}

.Keypad button{
    width: 40px;
    height: 40px;
    color: white;
    background-color: black;
    border-radius: 5px;
    text-align: center;
    font-size: large;
    font-weight: bold;
}

.Keypad .add{

}

.Keypad .sub{
    padding-bottom: 2px;
}

.Keypad .mul{
    padding-top: 8px;
}

.Keypad .divide{

}

.Field input{
    height: 30px;
    width: 55%;
    font-size: large;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 7px;
}

.Result{
    font-size: 30px;
    font-weight: bold;
    color: black;
}

.Result .error{
    color: red;
}

.Result .success{
    color: green;
}

@media only screen and (max-width: 900px) and (min-width: 600px){
    .App{
        width: 60%;
    }
}

@media only screen and (max-width: 600px){
    .App{
        width: 75%;
    }
}